[[blacklist]]
url = "https://raw.githubusercontent.com/StevenBlack/hosts/master/hosts"
reason = "Default pihole list"
source = "pihole"
parser = "ip_skipper"

# [[blacklist]]
# url = "https://v.firebog.net/hosts/Easylist.txt"
# reason = "Very common list"
# source = "https://firebog.net/"
# parser = "simple"
#
# [[blacklist]]
# url = "https://adaway.org/hosts.txt"
# reason = "First ad blocklist in firebog"
# source = "https://firebog.net/"
# parser = "ip_skipper"
